/*-------top level site wide css------*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}



h1 {
    
    color: rgb(255, 174, 0);
    font-weight: bold;
}


h2 {
    color: rgb(255, 174, 0);
    font-weight: bold;
}

h4 {
    color: white !important;
}

h5 {
    color: rgb(255, 174, 0);
}

p {
    color: white;
}

button {
    color: white !important;
    background-color:  rgb(255, 174, 0) !important;
}

.quote {
    color: white;

}



/*-------------messages / toasts ---------*/


.message-container {
    position: fixed;
    top: 100px;
    right: 40px;
    z-index: 99999999999;
    color: black !important;
    background-color:  rgb(255, 174, 0) !important;
    border-radius: 10px;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/*--------------body----------------*/

body {
    background-image: url("/static/images/books3.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;

}

/*
.container {
    background-color: rgba(255, 255, 255, 0.9);

} */


/* ---------make pointer show on update / close in bag ----------- */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}



/*--------------navbar------------------*/


.bg-body-tertiary {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.nav-link {

    color: white !important;
}

.nav-link:hover {
    color: black !important;
}

/*-----------books.html---------------*/

.book_tile {
    background-color: rgba(255, 255, 255, 0.5) !important;
    margin-left: auto !important;
    margin-right: auto !important;

}

/*.home_book {
    margin: 20px !important;
} */

/*.container {
    background-color: rgba(255, 255, 255, 0.5) !important;
}*/

/*--------------footer------------------*/

footer {
    margin-top: 500px;
}

.footer_space {
    color: white;
    background-color: rgba(255, 255, 255, 0.3) !important;
    left: 0;
    bottom: 0;
    width: 100%;

}


.ul_footer {
    list-style-type: none;
    text-decoration: none;

}

.contact {
    line-height: 1.6;
}

.footer_link {
    text-decoration: none;
    color: white;
}

.footer_link:hover {
    color: black;
}


/* -------------- stripe elements -------------- */



#payment-form .form-control,
#card-element {
    color: black !important;
    background-color: white;
    border: 1px solid;
}


/*----------media queries--------*/


@media screen and (min-width: 2400px) {


    footer {
        margin-top: 300px !important;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

    }
}



