{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h2 class="text-center mt-5">About us</h2>
            <div class="row mt-5">
                <div class="col-3 mx-auto">
                    <p class="text-center m-2">What is Babylon Books?</p>
                </div>
                <div class="col-3 mx-auto">
                    <p class="text-center m-2">Who is Babylon Books?</p>
                </div>
                <div class="col-3 mx-auto">
                    <p class="text-center m-2">When is Babylon Books?</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}