{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h2 class="text-center mt-5">Items in your bag, confirm your purchase!</h2>
            <div class="row mt-5">
                <div class="col mx-auto">
                    {% if bag_items %}
                        <div>
                            <div class="book_tile text-center w-25">
                                {% for item in bag_items %}
                                    <h4>{{ item.product.title }}</h4>
                                    <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                        {% csrf_token%}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-black rounded-0" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-black rounded-0"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-info"><small>Update</small></a>
                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                    <p>€{{ item.product.price }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <p class="fs-4">Your cart is empty. Head back to <a href="{% url 'books' %}"> browse books</a> and add to the cart!</p>
                        </div>
                    {% endif %}
                    
                    <div class="bottom_chunk text-center m-5">
                        {% if grand_total %}
                           <p class="fs-2"><strong>Total payable €{{ grand_total|floatformat:2 }} </strong></p> 
                           <a href="{% url 'checkout' %}" ><p class="fs-3">Proceed to secure checkout</p></a>
                        {% else %}
                        <p class="fs-2"><strong>Total payable €0.00 </strong></p> 
                        {% endif %}
                    </div>   
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}