{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Babylon Books">
    <meta name="keywords" content=" curate book, curated books, Babylon Book, book club free online, book club recommendations, book blogs, gift for readers, book clubs">
    <title>Babylon Books{% block extra_title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--mailchimp css link-->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{ false;clear:left; font:14px Helvetica,Arial,sans-serif;}
     </style>
    

  </head>
  <body>
    <header class="container-fluid fixed-top p-0">
      <!--navbar template rendered here--> 
      {% include 'navbar.html' %}
    </header>
    <br>
    <br>
    <br>
    <br>
    <main>
      {% if messages %}
      <div class="message-container">
          {% for message in messages %}
              {% with message.level as level %}
                  {% if level == 40 %}
                      {% include 'includes/toasts/toast_error.html' %}
                  {% elif level == 30 %}
                      {% include 'includes/toasts/toast_warning.html' %}
                  {% elif level == 25 %}
                      {% include 'includes/toasts/toast_success.html' %}
                  {% else %}
                      {% include 'includes/toasts/toast_info.html' %}
                  {% endif %}
              {% endwith %}
          {% endfor %}
      </div>
  {% endif %}


    {% block content %}
    {% endblock %}

  </main>
  <footer class="footer_space container-fluid mb-0 mt-5">
    <div class="footer_container">
      <div class="row mb-0">
        <!--1/3 footer section on left, shows website links-->
        <div class="col-sm-4 mt-3 text-center d-none d-sm-block">
          <h5>Find your way</h5>
          <ul class="list-unstlyed ul_footer text-center ">
            <li class="footer_li p-1">
              <a {% if request.resolver_match.view_name == 'homepage' %} class=" active footer_link" aria-current="page" {% else %} class=" footer_link" {% endif %} href="{% url 'homepage' %}">Home</a>
            </li>
            <li class="footer_li p-1">
              <a {% if request.resolver_match.view_name == 'about' %} class=" active footer_link" aria-current="page" {% else %} class=" footer_link" {% endif %} href="{% url 'about' %}">About</a>
            </li>
            <li class="footer_li p-1">
              <a {% if request.resolver_match.view_name == 'books' %} class=" active footer_link" aria-current="page" {% else %} class=" footer_link" {% endif %} href="{% url 'books' %}">Books</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="footer_li p-1">
              <a {% if request.resolver_match.view_name == 'profile' %} class="active footer_link" aria-current="page" {% else %} class="footer_link" {% endif %} href="{% url 'profile' %}">Profile</a>
            </li>
            {% else %}
            <li class="footer_li p-1">
              <a {% if request.resolver_match.view_name == 'account_login' %} class="active footer_link" id="nav_login" aria-current="page" {% else %} class="footer_link" {% endif %} href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            <li class="footer_li p-1">
              <a {% if request.resolver_match.view_name == 'bag' %} class="active footer_link" aria-current="page" {% else %} class="footer_link" {% endif %} href="{% url 'bag' %}">Bag</a>
            </li>
          </ul>
        </div>
        
        <!--2/3 footer section in center, shows contact info-->
        <div class="col-sm-4 mb-0 mt-3 d-none d-sm-block text-center">
          <h5>Contact info</h5>
          <p class="contact mt-4">Babylon Books, <br> GRATTAN HOUSE <br> 1 WELLINGTON QUAY <br> DUBLIN 2 <br> 0871501359 <br> babylonbooks@example.com <br>
        </div>
        <!--3/3 footer section in on right, shows social media links-->
        <div class="col-sm-4 mb-0 mt-3 text-start">
          <h5 class="text-center">Stay in touch</h5>
          <div class="col-md-0 col-sm-12 mx-auto text-center">
            <a href="https://www.facebook.com/profile.php?id=61553999558574" target="_blank" class="footer_link fs-5 mt-4">
              <i class="fa-brands fa-facebook" style="color: white;" aria-label="Facebook link for Babylon Books"></i>Facebook page</a>
          </div>
          <hr>
          <div id="mc_embed_shell" class="col-sm-4 mb-0 text-start w-75 mx-auto text-center ">
            <div id="mc_embed_signup">
              <form action="https://herokuapp.us11.list-manage.com/subscribe/post?u=c15262187c531b98c4f744145&amp;id=20bd9d22cf&amp;f_id=00a9afe0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                  <div id="mc_embed_signup_scroll">
                      <div class="indicates-required" style="color:white;"><span class="asterisk">*</span> indicates required</div>
                      <div class="mc-field-group fs-6"><label for="mce-EMAIL">Provide email address <br>to subscribe up to our newsletter! <span class="asterisk">*</span></label>
                          <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                  </div>
                  <div id="mce-responses" class="clear foot" style="color:white;">
                      <div class="response" id="mce-error-response" style="display: none;"></div>
                      <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                      /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                      <input type="text" name="b_c15262187c531b98c4f744145_20bd9d22cf" tabindex="-1" value="">
                  </div>
                  <div class="optionalParent">
                      <div class="clear foot">
                          <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button fs-6 btn-sm text-center" value="Subscribe" style="background-color: rgb(255, 174, 0);">
                          <p style="margin: 0px auto;">
                              <a href="http://eepurl.com/iFjl5M" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                              <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                          </p>
                      </div>
                  </div>
                </form>
              </div>
          </div>
        </div>
        
      </div>
  </footer>
{% block corejs %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/static/js/snippets.js"></script>
    <script src="https://kit.fontawesome.com/61cb99950a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
{% endblock %}

  {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    {% endblock %}
  </body>
</html>