{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h2 class="text-center mt-5 fs-2"></h2>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 books_div">
                            <div class="row  text-center m-5">
                                <div class="col-md-3 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-6">
                                            <h3>{{ post.title }}</h3>
                                            <p>Posted by <span class="amber_span">{{ post.user }}</span></p>
                                            <p>Posted on {{ post.created_on }}</p>
                                        </div>
                                        <div class="col-md-12 col-sm-6">
                                            {% if "placeholder" in post.image.url %}
                                            <div>
                                                <img src="/static/images/author_placeholder.JPG" alt="placeholder_image" style="color:white;" class="w-75" id="blog_image">
                                            </div> 
                                           {% else %} 
                                                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="w-75">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-12">
                                    <p>Author: {{ post.content }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="">{{ number_of_likes }} user(s) like this blog post!</p>
                                        {% if request.user.is_authenticated %}
                                            <form action="{% url 'post_like' post.id %}" method="POST"> {% csrf_token %} <button class="btn btn-success m-4" type="submit" name="post_id" value="{{ post.id }}">Like / Dislike</button>
                                            </form> 
                                        {% endif %}
                                </div>
                                <!--<div class="col-md-5">
                                    <h4>Comments</h4>
                                    {% if comments %}
                                        {% for comment in comments %} <p>
                                            <span class="amber_span fs-5">{{comment.user}}</span> commented :
                                            </p>
                                            <p class="fs-4"> "{{comment.text}}"</p>
                                            <p>{{ comment.created_on|timesince }} ago</p>
                                        {% endfor %}
                                    {% else %}
                                        <p class="fs-4">No comments yet. Be the first, post your thoughts!</p>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <h4 class="">Submit a comment</h4>
                                    <form method="POST" action="" class="my-5"> {% csrf_token %} 
                                        <textarea id="comment_field" rows="5" cols="50" name="text" placeholder="Have any thoughts on {{ post.title }}? Post a comment!"></textarea>
                                        <input type="submit" value="Submit">
                                    </form>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            <div class="">
            </div>
        </div>
    </div>
</section>
{% endblock %}