{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="row book_detail_div">
        <div class="col-md-6 col-sm-12 mx-auto text-center">
            <h1>{{ book.title }}</h1>
            <h4 class="my-5">Author: <span class="span_white">{{ book.author }}</span></h4>
            <h4 class="my-5">Price: <span class="span_white"> €{{ book.price }}</span></h4>
        </div>
        <div class="col-md-2 col-sm-12 mt-4 mx-auto text-center">
            <br>
            <br>
            <form class="form" action="{% url 'add_to_bag' book.id %}" method="POST">
                {% csrf_token %}
                <div class="row mx-auto">
                    <div class="col-12 text-center">
                                <p class="fs-4 mx-auto"><strong>Quantity:</strong></p>
                                <input class="w-15 qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ book.id }}" id="id_qty_{{ book.id }}">
                    </div>
                    <div class="col-12 text-center">
                        <button class=""><input type="submit" class="btn btn-black rounded-0 text-uppercase" value="add to Bag" style="color: white;"></button>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
        <div class="col-md-4 col-sm-12 mx-auto text-center">
            {% if "placeholder" in book.image.url %}
            <div>
               <img src="/static/images/book_placeholder.jpg" alt="placeholder_image" style="color:white;" class="w-75" id="book_image">
            </div> 
           {% else %} 
           <div>
               <img src="{{ book.image.url }}" alt="{{ book.title }}" style="color:white;" class="w-75" id="book_image">
             </div> 
           {% endif %}
        </div>
    <div class="row mx-auto text-center">
            <div class="col-md-6 col-sm-12 mx-auto text-center">
                <h4 class="mt-5">About the book:</h4>
                <p>{{ book.description }}</p>
                {% if book.external_link %}
                    <p>Click <a rel="nofollow" href="{{ book.external_link }}" class="amber_span" target="_blank">here</a> to read more on Wikipedia</p>
                {% else %}
                <hr>
                {% endif %}
            </div>
    </div>
    <div class="row my-5">
            <div class="col-md-8 col-sm-12 mx-auto text-center">
                <h4 class="mt-5">About the author: </h4>
                <p> {{ book.author.info }}</p> 
                {% if book.author.external_link %}
                    <p>Click <a rel="nofollow" href="{{ book.author.external_link }}" class="amber_span" target="_blank">here</a> to read more on Wikipedia</p>
                {% else %}
                <hr>
                {% endif %}
            </div>
    
        <div class="col-md-4 col-sm-12 mx-auto text-center">
            {% if "placeholder" in book.author.image.url %}
            <div>
                <img src="/static/images/author_placeholder.JPG" alt="placeholder_image" style="color:white;" class="w-75" id="author_image">
            </div>
           {% else %} 
           <div>
            <img src="{{ book.author.image.url }}" alt="{{ book.author.name }}" style="color:white;" class="w-75" id="author_image">
             </div> 
           {% endif %}
        </div>
    </div>
    <br>
    <hr>
<div class="row my-5">
    <div class="col-md-6 col-sm-12 mx-auto text-center">
        <h4 class="my-5">Submit a review</h4>
        {% if request.user.is_authenticated %} 
        <div>
            <form method="POST" action="" class="my-5"> {% csrf_token %} <textarea maxlength="249" type="submit" name="review" placeholder="submit a quick review!" cols="35" rows="5"></textarea>
                <input value="Submit" type="submit">
            </form>
        </div>
        {% else %}
        <p>You need to be logged into your account to post a review.<a href="{% url 'login' %}">Login</a>so you can post a review!</p>
        {% endif %}
    </div>
    <div class="col-md-6 col-sm-12">
        <h4>User reviews for {{ book.title }}</h4>
        {% for review in page_obj %} 
            <div class=" comment_div">
                <p><span class="comment_user fs-4">{{review.user}}</span> said :</p>
                <p class="fs-4"> "{{review.review}}"</p>
                <p>{{ review.created_on|timesince }} ago</p>
                <!--check if the current user , is the commenter. enable them to delete--> {% if review.user == request.user %} <a href="" class="">
                    <a href="{% url 'delete_review' review.id %}" class=""><button class="btn">DELETE</button>></a>
                </a> 
                {% endif %}
                <hr> 
            </div>
        {% endfor %}
    </div>
    
    {% if request.user.is_superuser %}
    <div class=" row my-5">
        <div class="book_update_div col-8 mx-auto my-5">
            <h4>Super user store-management</h4>
            <p class="d-inline-flex gap-1 my-5">
                <button id="update_button" class="btn btn-lg fs-4 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Edit / Delete</button>
            </p>
            <div class="collapse row " id="collapseExample">
                <div class="card card-body book_card_update col-12 mx-auto">
                    <div class="book_detail_edit">
                        <h6 class="red_span">Store management - superuser</h6>
                        <a href="{% url 'edit_product' book.id %}"><p>Edit Book Item</p></a>
                        <a href="{% url 'delete_product' book.id %}"><p>Delete Book Permanently (forever!)</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="pagination m-4">
        <span class="step-links text-center my-4" style="color: white;"> {% if page_obj.has_previous %} <a href="?page=1" class="page_link">&laquo; First</a>
          <a href="?page={{ page_obj.previous_page_number }}" class="page_link">Previous</a> {% endif %} <span class="current"> Reviews page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span> {% if page_obj.has_next %} <a href="?page={{ page_obj.next_page_number }}" class="page_link">Next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="page_link">Last &raquo;</a> {% endif %} </span>
      </div>
</div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}
{% endblock %}