{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="row m-5 book_detail_div">
        <div class="col-6 pe-5 my-5 text-start">
            <h1>{{ book.title }}</h1>
            <h4 class="my-5">Author: <span class="span_white">{{ book.author }}</span></h4>
            <h4 class="my-5">Price: <span class="span_white"> €{{ book.price }}</span></h4>
        </div>
        <div class="col-2 mt-4 text-start">
            <br>
            <br>
            <form class="form" action="{% url 'add_to_bag' book.id %}" method="POST">
                {% csrf_token %}
                <div class="row mx-auto">
                    <div class="col-12 text-center">
                                <p class="fs-4 mx-auto"><strong>Quantity:</strong></p>
                                <input class="w-15 qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ book.id }}" id="id_qty_{{ book.id }}">
                    </div>
                    <div class="col-12 text-center">
                        <button class=""><input type="submit" class="btn btn-black rounded-0 text-uppercase" value="add to Bag" style="color: white;"></button>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
        <div class="col-3 text-end mt-5">
            {% if "placeholder" in book.image.url %}
            <div>
               <img src="/static/images/book_placeholder.jpg" alt="placeholder_image" style="color:white;" class="w-75" id="book_image">
            </div> 
           {% else %} 
           <div>
               <img src="{{ book.image.url }}" alt="{{ book.title }}" style="color:white;" class="w-75" id="book_image">
             </div> 
           {% endif %}
        </div>
    <div class="row">
            <div class="col-8 text-start">
                <h4 class="mt-5">About the book:</h4>
                <p>{{ book.description }}</p>
                {% if book.external_link %}
                    <p>Click <a rel="nofollow" href="{{ book.external_link }}" class="amber_span" target="_blank">here</a> to read more on Wikipedia</p>
                {% else %}
                <hr>
                {% endif %}
            </div>
    </div>
    <div class="row">
            <div class="col-8">
                <h4 class="mt-5">About the author: </h4>
                <p> {{ book.author.info }}</p> 
                {% if book.author.external_link %}
                    <p>Click <a rel="nofollow" href="{{ book.author.external_link }}" class="amber_span" target="_blank">here</a> to read more on Wikipedia</p>
                {% else %}
                <hr>
                {% endif %}
            </div>
    
        <div class="col-3 ms-5 text-center">
            {% if "placeholder" in book.author.image.url %}
            <div>
                <img src="/static/images/author_placeholder.JPG" alt="placeholder_image" style="color:white;" class="w-75" id="author_image">
            </div>
           {% else %} 
           <div>
            <img src="{{ book.author.image.url }}" alt="{{ book.author.name }}" style="color:white;" class="w-75" id="author_image">
             </div> 
           {% endif %}
        </div>
    </div>
    <br>
    <hr>
<div class="row my-5">
    <h4>User reviews for {{ book.title }}</h4>
    <div class="col -6 comment_div">
        {% for review in reviews %} <p>
            <span class="comment_user fs-4">{{review.user}}</span> said :
          </p>
          <p class="fs-4"> "{{review.review}}"</p>
          <p>{{ review.created_on|timesince }} ago</p>
          <!--check if the current user , is the commenter. enable them to delete--> {% if review.user == request.user %} <a href="" class="">
            <button type="button" class="text-center p-1 btn btn-outline-danger  fs-6 text">Delete</button>
          </a> {% endif %}
          <hr> {% endfor %}
    </div>
    <div class="col-6 mx-auto text-center">
        {% if request.user.is_authenticated %} 
        <div>
            <h4 class="my-5">Submit a review</h4>
            <form method="POST" action="" class="my-5"> {% csrf_token %} <input type="text" name="review" placeholder="submit a quick review!" class="w-75"/>
            </form>
        </div>
        {% endif %}
    </div>
    {% if request.user.is_superuser %}
    <div class=" row my-5">
        <div class="book_update_div col-8 mx-auto my-5">
            <h4>Super user store-management</h4>
            <p class="d-inline-flex gap-1 my-5">
                <button id="update_button" class="btn btn-lg fs-4 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Edit / Delete</button>
            </p>
            <div class="collapse row " id="collapseExample">
                <div class="card card-body book_card_update col-12 mx-auto">
                    <div class="book_detail_edit">
                        <h6 class="red_span">Store management - superuser</h6>
                        <a href="{% url 'edit_product' book.id %}"><p>Edit Book Item</p></a>
                        <a href="{% url 'delete_product' book.id %}"><p>Delete Book Permanently (forever!)</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}
{% endblock %}