{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h2 class="text-center mt-5">Browse books, buy books, read books!</h2>
            <div class="row text-center mb-5">
                {% for book in books %}
                    <div class="book_tile col-8 p-1 m-3">
                        <h5>{{ book.title }}</h5>
                        <p>€{{ book.price }}</p>
                        <p>{{ book.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}