{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h2 class="text-center mt-5">Browse books, buy books, read books!</h2>
            <div class="row mt-5 p-5">
                {% for book in books %}
                    <div class="col-3 mx-auto p-2">
                        <h5>{{ book.title }}</h5>
                        <p>€{{ book.price }}</p>
                        <p>{{ book.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}