{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h2 class="text-center mt-5 fs-2">Browse books, buy books, read books!</h2>
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <p class="d-inline-flex gap-1 my-5">
                        <button class="btn btn-lg btn-primary fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          Filter books
                        </button>
                        </p>
                    <div class="collapse row cats" id="collapseExample">
                        <div class="card card-body cats col-3">
                            <a class="" href="{% url 'books' %}?">All</a>
                            <a class="" href="{% url 'books' %}?genre=Classics">Classics</a>
                            <a class="" href="{% url 'books' %}?genre=Horror" >Horror</a>
                            <a class="" href="{% url 'books' %}?genre=Sci-fi" >Sci-fi</a>
                            <a class="" href="{% url 'books' %}?genre=Fantasy" >Fantasy</a>
                            <a class="" href="{% url 'books' %}?genre=Crime" >Crime</a>
                        </div>
                        <div class="card card-body cats col-3">
                            <a class="" href="{% url 'books' %}?genre=Children">Children</a>
                            <a class="" href="{% url 'books' %}?genre=Young Adult">Young Adult</a>
                            <a class="" href="{% url 'books' %}?genre=Historical" >Historical</a>
                            <a class="" href="{% url 'books' %}?genre=Irish" >Irish</a>
                            <a class="" href="{% url 'books' %}?genre=Biographical">Biographical</a>
                            <a class="" href="{% url 'books' %}?genre=Graphic Novel" >Graphic Novel</a>
                        </div>
                        <div class="card card-body cats col-3">
                            <a class="" href="{% url 'books' %}?genre=Drama">Drama</a>
                            <a class="" href="{% url 'books' %}?genre=Sports" >Sports</a>
                            <a class="" href="{% url 'books' %}?genre=Music" >Music</a>
                            <a class="" href="{% url 'books' %}?genre=Wellbeing" >Wellbeing</a>
                            <a class="" href="{% url 'books' %}?genre=Religion" >Religion</a>
                            <a class="" href="{% url 'books' %}?genre=Slice of Life">Slice of Life</a>
                        </div>
                        <div class="card card-body cats col-3">
                            <a class="" href="{% url 'books' %}?sort=price&direction=asc">By Price</a>
                            <a class="" href="{% url 'books' %}?sort=title">Alphabetically - Books</a>
                            <a class="" href="{% url 'books' %}?sort=author">Alphabetically - Author</a>
                            <a class="" href="{% url 'books' %}?sort=added">Recently added</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <div class="row">
                            {% for book in books %}
                            <div class="col-12 books_div">
                                <div class="row  text-center m-5">
                                    <div class="col-md-3 col-sm-12">
                                        <a href="{% url 'book_detail' book.id %}?" id="book_link"><img src="{{ book.image.url }}" alt="{{ book.title }}" style="color:white;" class="w-75" id="book_image"></a>
                                    </div>
                                    <div class="col-md-3 col-sm-12">
                                        <a href="{% url 'book_detail' book.id %}" id="book_link"><h5>{{ book.title }}</h5></a>
                                        <p>Author: {{ book.author }}</p>
                                        <p>Genre: {{ book.genre }}</p>
                                        <p class="fs-5">Price: €{{ book.price }}</p>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <p>{{ book.description|truncatechars:325 }}....<br><a href="{% url 'book_detail' book.id %}">Click for more info</a></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
            <!--<div class="row text-center mb-5 bottom_chunk">
                {% for book in books %}
                    <div class="book_tile col-8 p-1 m-3">
                        <a href="{% url 'book_detail' book.id %}"><h5>{{ book.title }}</h5></a>
                        {% if request.user.is_superuser %}
                            <a href="{% url 'edit_product' book.id %}"><p>Edit Store Info</p></a>
                            <a href="{% url 'delete_product' book.id %}"><p>Delete Product from Store</p></a>
                        {% endif %}
                        <p>{{ book.author }}</p>
                        <p>€{{ book.price }}</p>
                        <a href="{% url 'books' %}?genre={{ book.genre.name }}"><p>{{ book.genre }}</p></a>
                        <p>{{ book.description }}</p>
                    </div>
                {% endfor %}
            </div>-->
        </div>
    </div>
</section>
{% endblock %}