{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h2 class="text-center mt-5">Items in your bag, confirm your purchase!</h2>
            <div class="row mt-5">
                <div class="col mx-auto">
                    <p class="text-center m-2">Cart</p>
                    {% if cart_items %}
                        <div>

                        </div>
                    {% else %}
                        <div class="text-center">
                            <p>Your cart is empty. Head back to <a href="{% url 'books' %}"> browse books</a> and add to the cart!</p>
                        </div>
                    {% endif %}
                    <div class="book_tile text-center">
                    {% for item in cart_items %}
                        {{ item.product.title }}
                        €{{ item.product.price }}
                    {% endfor %}
                    </div>
                    <div class="book_tile text-center">
                        {% if grand_total %}
                           <p>Total payable €{{ grand_total|floatformat:2 }} </p> 
                        {% else %}
                            $0.00
                        {% endif %}
                    </div>   
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}