{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h2 class="text-center mt-5">Your purchase is complete, thank you!</h2>
            <div class="row">
                <div class="col-12">

                </div>
            </div>
            <p>Order confirmation will be sent to <span>{{ order.email }}</span></p>
            <div class="row mt-5">
                <div class="col mx-auto checkout_border">
                    <h5>Order Info</h5>
                    <p>Order Number : {{ order.order_number }}</p>
                    <p>Order Date : {{ order.date }}</p>
                </div>
                <div class="col mx-auto checkout_border">
                    <h5>Order Info</h5>
                    {% for item in order.lineitems.all %}
                        <p>{{ item.product.title }}</p>
                        <p>{{ item.quantity }} @ ${{ item.product.price }} each</p>
                    {% endfor %}
                </div>
                <div class="col mx-auto checkout_border">
                    <h5>Delivery Info</h5>
                    <p>Orderer : {{ order.full_name }}</p>
                    <p>Telephone number : {{ order.phone_number }}</p>
                    <p>Delivery address : {{ order.street_address1 }} <br>
                        {% if order.street_address2 %} {{ order.street_address1 }} {% endif %} <br>
                        {% if order.county %} {{ order.county }} {% endif %} <br>
                        {{ order.town_or_city }} <br>
                        {% if order.postcode %} {{ order.postcode }} {% endif %} <br>
                        {{ order.country }}
                        </p>
                </div>
                <div class="col mx-auto checkout_border">
                    <h5>Billing info</h5>
                    <p>Delivery Cost : {{ order.delivery_cost }}</p>
                    <p>Total Cost : {{ order.grand_total }}</p>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-8 mx-auto">
                    <h4>Did you forget anything?</h4>
                    <p>Return to the <a href="{% url 'books' %}" class="amber_span"> bookstore </a> to check out more great deals</p>
                </div>
            </div>
            <div class="book_tile text-center">
                 {% if grand_total %}
                    <p class=""></p> 
                {% else %}
                {% endif %}
            </div>   
        </div>  
    </div>
{% endblock %}
