{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h2 class="text-center mt-5">Your purchase is complete, thank you!</h2>
            <p>Order confirmation will be sent to {{ order.email }}</p>
            <div class="row mt-5">
                <div class="col mx-auto">


                    <div class="row">
                        <div class="col-8 mx-auto">
                            <h4>Did you forget anything?</h4>
                            <a href="{% url 'books' %}"><p>Return to the bookstore to check out more great deals</p></a>
                            
                        </div>
                    </div>
                    
                    <div class="book_tile text-center">
                        {% if grand_total %}
                           <p class=""></p> 
                        {% else %}
                        {% endif %}
                    </div>   
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
