{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="row gx-0 mt-5 welcome_div">
        <div id="headup" class="col-12 mt-5">
            <h2 class="text-center my-5 fs-1" id="test_h">Welcome to Babylon Books</h2>
            <div class="row gx-0 my-5">
                <div class="col-4 mx-auto">
                    <p class="quote text-center my-4 fs-4">"A reader lives a thousand lives before he dies...The man who never reads lives only one" <br> George R.R. Martin</p>
                </div>
                <div class="col-4 mx-auto">
                    <p class="quote text-center my-4 fs-4">“Think before you speak. Read before you think.” <br> Fran Lebowitz</p>
                </div>
            </div>
            <div class="row gx-0">
                <div class="col-12 text-center my-5">
                        <a href="{% url 'books' %}" class="mx-auto p-4"><button type="button" class="btn btn-lg mx-auto p-2 fs-4">Browse books now!</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 emtpy_row">
        <div class="col-12 mt-5">

        </div>
    </div>
    <div class="row text-center index_div">
        <h4 class="fs-2 text-center my-5">What is Babylon Books and why should I care?</h4>
        <div class="col-10 mx-auto">
            <p class="p-4 mt-5 fs-5 intro_p">Babylon Books is a luxury experience, a fastidiously curated book shop that wants to bring your love of reading to the next level. We select the most interesting literature across a vast swathe of culture and history, and provide it to you at an excellent price. You don't have to trek the treachourous deserts of Mesopotamia to find a great story, we've got it for you right here.</p> 
            <p class="text-center fs-4 m-5"> Don't delay, take a leap and create an account today!</p>
        </div>
        <div class="col-12 text-center">
            <a href="{% url 'account_signup' %}" class=""><button class="btn btn-lg m-5">Create an account!</button></a>
        </div>
        <div class="row my-2 mx-auto">
            <p class="fs-3">Registering an account gets you lots of bonuses</p>
            <div class="col-md-4 col-sm-12 mx-auto bonus_ul">
                <ul>
                    <li>Saved profile info for future purchase, order history records
                    </li>
                    <li>Submit blog posts and join the conversation
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 bonus_ul">
                <ul>
                    <li>Submit comments on books in the shop
                    </li>
                    <li>Receive monthly news letter via email
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 bonus_ul">
                <ul>
                    <li>Early access to soon to future podcasts / streaming content / <strong>book clubs</strong>
                    </li>
                    <li>And more to come in future!
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="row text-center mx-auto get_to_know_div my-5">
        <h4 class="fs-2 my-3 text-center intro_h">We want to get to know you</h4>
        <div class="col-12 my-4 text-center">
            <p class="fs-4 my-4">Still curious about who we are? Don't be shy, click in to the <a href="{% url 'about' %}">About page</a> so we can properly introduce ourselves</p>
        </div>
        <div class="col-12 my-4 text-center">
            <p class="fs-4 my-4">Or , make your voice heard. Pop over to our  <a href="{% url 'blog' %}"><strong>book blogs</strong></a> page to see what people are saying and join the conversation</p>
        </div>
        <div class="col-10 mx-auto my-5 text-center">
            <p class="fs-4 my-4">Stay in touch. Provide your email address below, subscribe to our newsletter!</p>
            <div id="mc_embed_shell" class="col-sm-4 mb-0 text-start w-100 mx-auto text-center ">
                <div id="mc_embed_signup">
                  <form action="https://herokuapp.us11.list-manage.com/subscribe/post?u=c15262187c531b98c4f744145&amp;id=20bd9d22cf&amp;f_id=00a9afe0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                      <div id="mc_embed_signup_scroll">
                          <div class="indicates-required" style="color:white;"><span class="asterisk">*</span> indicates required</div>
                          <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                              <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                      </div>
                      <div id="mce-responses" class="clear foot" style="color:white;">
                          <div class="response" id="mce-error-response" style="display: none;"></div>
                          <div class="response" id="mce-success-response" style="display: none;"></div>
                      </div>
                      <div aria-hidden="true" style="position: absolute; left: -5000px;">
                          /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                          <input type="text" name="b_c15262187c531b98c4f744145_20bd9d22cf" tabindex="-1" value="">
                      </div>
                      <div class="optionalParent">
                          <div class="clear foot">
                              <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button fs-6" value="Subscribe" style="background-color: rgb(255, 174, 0);">
                              <p style="margin: 0px auto;">
                                  <a href="http://eepurl.com/iFjl5M" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                                  <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                              </p>
                          </div>
                      </div>
                    </form>
                  </div>
              </div>
        </div>
        <br>
        <br>
    </div>
    <div class="row my-5 index_div mx-auto">
        <div class="col-12">
            <h4 class="text-center my-5 fs-2 intro_h">Most recently curated books</h4>
            <div class="row">
                    {% for book in books|slice:"0:3" %}
                    <div class="col-12">
                        <div class="row home_book text-center my-5">
                            <div class="col-md-3 col-sm-12">
                                <a href="{% url 'book_detail' book.id %}?" id="book_link"><img src="{{ book.image.url }}" alt="{{ book.title }} cover" style="color:white;" class="w-50" id="book_image"></a>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <a href="{% url 'book_detail' book.id %}" id="book_link"><h4>{{ book.title }}</h4></a>
                                <p>Author: {{ book.author }}</p>
                                <p>Genre: {{ book.genre }}</p>
                                <p class="fs-5">Price: €{{ book.price }}</p>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <p>{{ book.description|truncatechars:325 }}....<br><a href="{% url 'book_detail' book.id %}">Click for more info</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row my-5 index_div mx-auto">
        <div class="col-12 text-center my-4">
            <h4 class="text-center fs-2 my-5 intro_h">Click below to browse more from our full range of books!</h4>
            <div class="text-center my-4">
                <a href="{% url 'books' %}" class="mx-auto p-2"><button type="button" class="btn mx-auto p-2  fs-5">Browse books now!</button></a>
        </div>
    </div>
    </section>
{% endblock %}


