{% extends "base.html" %}

{% block content %}
<section>
    <div class="row gx-0 mt-5">
        <div id="headup" class="col-12 mt-5">
            <h2 class="text-center my-5">Welcome to Babylon Books</h2>
            <div class="row gx-0 my-5">
                <div class="col-4 mx-auto">
                    <p class="quote text-center m-2">"A reader lives a thousand lives before he dies...The man who never reads lives only one" <br> George R.R. Martin</p>
                </div>
                <div class="col-4 mx-auto">
                    <p class="quote text-center m-2">“Think before you speak. Read before you think.” <br> Fran Lebowitz</p>
                </div>
            </div>
            <div class="row gx-0">
                <div class="col-12 text-center my-5">
                        <a href="{% url 'books' %}" class="mx-auto p-4"><button type="button" class="btn btn-warning btn-lg mx-auto p-2">Browse books now!</button></a>
                </div>
            </div>
        </div>
        <div>
            <ul class="dropdown">
                <li><a class="dropdown-item" href="{% url 'books' %}sort=price&direction=asc">By Price</a></li>
                <li><a class="dropdown-item" href="{% url 'books' %}sort=added&direction=asc">Newly Added</a></li>
                <li><a class="dropdown-item" href="{% url 'books' %}?genre=Classics">Classics</a></li>
                <li><a class="dropdown-item" href="{% url 'books' %}?genre=Horror" >Horror</a></li>
                <li><a class="dropdown-item" href="{% url 'books' %}?genre=Scifi" >Scifi</a></li>
                <li><a class="dropdown-item" href="{% url 'books' %}?genre=Fantasy" >Fantasy</a></li>
            </ul>
        </div>
            <div class="row mx-auto my-5">
                <h4 class="ms-4 ps-5">Check out some of our new additions</h4>
                {% for book in books %}
                    <div class="home_book col-3 p-1 text-center mb-5">
                        <h5>{{ book.title }}</h5>
                        <p>{{ book.author }}</p>
                        <p>€{{ book.price }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}


