{% load static %}

<!--navbar code from bootstrap, fixed to top of page-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'homepage' %}"><h1>Babylon Books</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mt-4">
            <a {% if request.resolver_match.view_name == 'homepage' %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{%url 'homepage' %}">Home</a>
          </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item  mt-4">
              <a {% if request.resolver_match.view_name == 'profile' %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{% url 'profile' %}">Profile</a>
            </li>
            {% else %}
            <li class="nav-item mt-4">
              <a {% if request.resolver_match.view_name == 'account_login' %} class="nav-link active" id="nav_login" aria-current="page" {% else %} class="nav-link" {% endif %} href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          <li class="nav-item mt-4">
            <a {% if request.resolver_match.view_name == 'books' %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{% url 'books' %}">Books</a>
            </a>
          </li>
          <li class="nav-item mt-4">
            <a {% if request.resolver_match.view_name == 'about' %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{% url 'about' %}">About</a>
          </li>
          {% if request.user.is_superuser %}
          <li class="nav-item dropdown mt-4">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage Store
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'add_author' %}">Manage-authors</a></li>
              <li> <a class="dropdown-item" href="{% url 'add_product' %}">Manage-books</a></li>
            </ul>
          </li>
          {% endif %}
          <li class="nav-item mt-4">
            <a {% if request.resolver_match.view_name == 'bag' %} class="nav-link active" aria-current="page" {% else %} class="nav-link" {% endif %} href="{% url 'bag' %}">Bag</a>
          </li>
        </ul>
        <form method="POST" action="{%url 'search_results'%}" class="text-end searchbar m-3"> 
          {% csrf_token %} 
            <input class="form-control search_box" type="search" placeholder="Search" name="search_response" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>